/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#result {
	-fx-background-color: rgb(192,192,192);
}

#ButtonStyleTop {
	-fx-background-color: rgb(255,128,0);
	-fx-border-color: gray;
}

#ButtonStyleRightSide {
	-fx-background-color: rgb(240,167,15);
	-fx-border-color: gray;
}